<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
        <br>
        <br>

    <h1>File Details</h1>
    <h1>Name: <%= file.name %></h1>
    <h2>Size: <%= file.size %> Bytes</h2>
    <h2>Uploaded:<%= file.createdAt%></h2>

    <a href="/download/<%= file.id %>"><button>Download</button></a>
</body>
</html>